body {
	background-color: #f60;
	color: #fff;
	font-family: sans-serif;
}

.hand-indicator {
	width: 40vw;
	height: 40vw;
	max-width: 40vh;
	max-height: 40vh;
	display: inline-block;
	background-color: #fff;
	text-align: center;
	transition: 200ms all;
	border-radius: 20vw;
	box-sizing: border-box;
	opacity: 0.5;
}

#scramble {
	transition: 200ms all;
}

.key-indicator {
	color: #fff;
	border: 2px solid #fff;
	border-radius: 5px;
	display: inline-block;
	padding: 5px;
	margin: 2.5px;
	opacity: 0.5;
	transition: 200ms all;
	min-width: 18px;
}

#upper-half {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 50vh;
}

#lower-half {
	display: flex;
	justify-content: space-around;
}

#timer {
	font-size: 128px;
}

#scramble {
	font-size: 32px;
}

@media screen and (max-width: 992px) {

	#timer {
		font-size: 64px;
	}

	#scramble {
		font-size: 16px;
	}	
	
}